<h1><%= @customer.name.titleize %></h1>

<h3>Total Stock</h3>
<table>
  <thead>

  </thead>
  <tbody>
    <% @customer.sheets.each do |sheet| %>
    <tr>
      <td style="width: 200px"><%= sheet.paper_type.label %></td>
      <td><%= sheet.quantity_in_stock %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Paper Collections</h3>
<% @customer.paper_collections.each do |collection| %>
  <h4>Collection on <%= collection.date_collected.to_date %></h4>
  <table>
    <tbody>
      <% collection.paper_collection_items.each do |item| %>
      <tr>
        <td style="width: 200px"><%= item.sheet.paper_type.label %></td>
        <td><%= item.quantity_collected %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
<% end %>
