<h1>Paper Collection - <%= @customer.name %></h1>

<%= form_for @paper_collection, url: customer_paper_collections_path(@customer), method: :post do |f| %>
  <%= f.label :date_collected %>
  <%= f.date_field :date_collected, value: Time.now.strftime('%Y-%m-%d') %><br/>

  <%= f.fields_for :paper_collection_items do |ff| %>
    <%= ff.hidden_field :sheet_id %>
    <%= ff.object.sheet.paper_type.label %>
    <%= ff.number_field :quantity_collected %><br/>
  <% end %>

  <%= f.submit 'Submit' %>
<% end %>
