<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= @customer.name.titleize %></h1>

<div class="row">
  <%= render 'collections/quantity_by_type', quantity_by: :total %>
  <%= render 'collections/quantity_by_type', quantity_by: :ecoloop if @customer.ecolooper? %>
</div>

<%= link_to 'New Paper Collection', new_customer_collection_path(@customer), method: :get %><br/>
<%= link_to 'View Paper Collections', customer_collections_path(@customer), method: :get %><br/>
