<div class="paper-sources-panel mb-4">
  <h5 class="mb-3">Blank on One Side - 3 Per Book</h5>
  <div class="row">
    <div class="col-sm-9">
      <table class="table source-table">
        <thead>
          <th>Source</th>
          <th>Available</th>
          <th>Allocated</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td><%= select_tag 'source', options_from_collection_for_select(Paper.all, 'id', 'customer_name_and_quantity'), class: 'form-control form-control-sm' %></td>
            <td><%= number_field_tag 'number', nil, class: 'form-control form-control-sm', value: '55', disabled: true %></td>
            <td><%= number_field_tag 'number', nil, class: 'form-control form-control-sm' %></td>
            <td><%= icon('times-circle', class: 'delete') %></td>
          </tr>
          <tr>
            <td><%= button_tag 'Add Source', type: 'button', class: 'btn btn-secondary btn-sm' %></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-3 col-sm-3 text-center">
      <h5>Left to Allocate</h5>
      <h1>55</h1>
    </div>
  </div>

</div>
