<h1>Sheet Collection - <%= @customer.name %></h1>

<%= form_for @sheet_collection, url: customer_sheet_collections_path(@customer), method: :post do |f| %>
  <%= f.label :date_collected %>
  <%= f.date_field :date_collected, value: Time.now.strftime('%Y-%m-%d') %><br/>

  <%= f.fields_for :sheet_collection_items do |ff| %>
    <%= ff.hidden_field :sheet_id %>
    <%= render_paper_type(ff.object.sheet.paper_type) %>
    <%= ff.number_field :quantity_collected %><br/>
  <% end %>

  <%= f.submit 'Submit' %>
<% end %>
